@model CrudExamenn.Models.ClaseCuenta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClaseCuenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.saldototal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.saldototal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoSocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigosociocedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigosociocedula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.numero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
