@model IEnumerable<CrudExamenn.Models.ClaseCuenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.saldototal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoSocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigosociocedula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.saldototal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoSocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigosociocedula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.numero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.numero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.numero">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
